.clearfix:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;;
}
.clearfix2 {
	overflow: hidden;
	_zoom: 1;
}
.clearfix3 {
	overflow: hidden;
	_height: 1%;
}
ul, li {
	list-style: none;
}
#a-list {
	margin: 0 auto;
	font-size: 18px;
}
.page-item,
.page-active,
.page-up,
.page-down,
.page-none{
	float: left;
	padding: .5rem .6rem;
	min-width: 1.1rem;
	color: #333;
	text-align: center;
	background-color: #fff;
	margin: 0 .2rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	border-color: #fff;
	cursor: pointer;
}
.page-item:hover, .page-up:hover, .page-down:hover{
	border-color: #47c2dc;
	border: 1px solid #47c2dc;
	box-shadow: 0 0 1px #47c2dc;
}
.page-active {
	color: #fff;
	background-color: #47c2dc;
	border: 1px solid #47c2dc;
}
.page-none {
	color: #333;
	border: none;
	padding: 1rem 0 0 0;
}