@charset "utf-8";

body { margin:0; background:#e7e7e7; color:#797979; }
h1, h2, h3, h4, h5, h6 { font-family:"microsoft yahei", Arial, Helvetica, sans-serif; font-size:18px; font-weight:normal; margin:0; padding:0; }
ol, ul, li, div, p, dl, dt, dd { list-style:none; padding:0; font-size:12px; font-family:Arial, Helvetica, sans-serif; margin:0; }
a, img, table, td, tr { border:none; }
a { color:#2D2D2D ;text-decoration:none}

input, select, textarea { font-family:Arial, Helvetica, sans-serif; padding:1px;}

.login_middle { width: 400px; margin-top: 100px; margin-left: auto; margin-right: auto; }
.logo { text-align: center; cursor:pointer; }
#logo_img { margin: 0 auto; }